//
// Variables
// --------------------------------------------------

// Paths
	$font-path: 				"/assets/fonts";
	$img_path:					"/assets/img";

// Fonts
	$font-yellowTailReg: 		'yellow-modregular', Helvetica, sans-serif;
	$font-bebasReg: 			'bebas_modregular', Helvetica, sans-serif;
	$font-beaches: 				'beachesIcons', Helvetica, sans-serif;
	$font-videojs: 				'VideoJS', Helvetica, sans-serif;
	$font-helv67-medCond: 		'HelveticaNeue67MdCn', Helvetica, sans-serif;
	$font-arial: 				Arial, Helvetica, sans-serif;

// Colors
	$blue: 			 			#4FC1E9;
	$blue-light:				#00beff;
	$red: 		 			    #ed5431;
	$red-light:					#f54633;
	$black: 					#3b3e3e;
	$pink: 						#ef7381;
	$pink-dark:					#ea4558;
	$green: 					#809a00;
	$green-light: 				#95b300;

	$gray-dark:              	#373737;
	$gray-light:              	#666;
	$gray-lighter: 				#f6f6f6;
	$gray: 						#eaeaea;

// Links
	$link-color:            	$blue;
	$link-hover-color:      	$blue-light; // $blue + 10% lighter

// Scaffolding
// -------------------------
	$font-size: 			  16px !default;
	$font-size-m: 			  16px !default;
	$font-size-l: 			  16px !default;
	$font-weight: 			  400 !default;
	$font-color: 			  #444 !default;

// Viewports
// -------------------------
	$viewport-m: 32rem !default;
	$viewport-l: 48rem !default;

	$screen-xs: px2rem(320px) !default;
	$screen-sm: px2rem(480px) !default;
	$screen-md: px2rem(768px) !default;
	$screen-lg: px2rem(1024px) !default;
	$screen-xl: px2rem(1224px) !default;
	$screen-xxl: px2rem(1824px) !default;

// Grid System
// -------------------------
	$grid-full: 			  100%;
	$grid-half: 			  100% / 2;
	$grid-gutter: 			  px2rem(30px);

	$col-start:				  1;
	$col-end:				  12;
	$col-common:			  25, 40, 60, 75;

	// Grid Variables
	$num-cols: $col-end;
	$gutter-width: $grid-gutter;

	$element-top-margin: $gutter-width/3 !default;
	$element-bottom-margin: ($gutter-width*2)/3 !default;